# Environments
.env
venv/
vscenv/
.conda/

# Jupyter
.ipynb_checkpoints/


# Streamlit
.streamlit/

# Datasets
train/
test/
val/

# Model weights
*.pth
*.h5
*.ckpt

# Outputs
output.png

# Cache
__pycache__/
*.pyc
